/* latin-ext */
@font-face {
  font-family: 'Happy Monkey';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Happy Monkey'), local('HappyMonkey-Regular'), url(https://fonts.gstatic.com/s/happymonkey/v9/K2F2fZZcl-9SXwl5F_C4R_OwDgr3XWo.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Happy Monkey';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Happy Monkey'), local('HappyMonkey-Regular'), url(https://fonts.gstatic.com/s/happymonkey/v9/K2F2fZZcl-9SXwl5F_C4R_OwAAr3.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body
{
  font-family: 'Happy Monkey';
  background: #fafafa;
}

#nav_header
{
  font-family: 'Happy Monkey';
  font-size: 1em;
}

#tab_table
{
  font-family: 'Happy Monkey';
  font-size: 0.9em;
}

#tab1_header, #tab2_header, #tab3_header
{
  font-size: 2em;
}
